<section style="background-image: url('assets/images/{{content.id}}.png');" class="parallax">
</section>
<section class="container-title">
    <div class="container">
        <div class="col-12">
            <h1 class="display-4 text-center text-white">
                {{content?.title}}
            </h1>
            <hr>
            <p class="text-center text-white">
                {{day}}/{{month}}/{{year}} - Por: {{user?.name}}
            <p>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="col-12">
            <p>
                {{content?.text}}
            </p>
        </div>
    </div>
</section>
